	<%= render :partial => 'shared/micropost_form'%>
	<% if @feed_items.any? %>
		<%= render :partial => 'shared/feed_item',:collection => @feed_items %>

	<div class="text-center">	
		<%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
	</div>
	<% end %>

	<%= javascript_include_tag  "/assets/linkrepo/js/bootstrap.min" %>
	<%= javascript_include_tag  "link-add" %>

		
