<div class="row mt centered link-add-section">   
	<button type="button" class="pull-right add-link-btn btn-lg btn-default" onclick="showlink()">
		<span class="glyphicon glyphicon-plus"></span> Add Link
	</button>
	<%= form_for @micropost, html: {class: "add-url-form"} do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.text_field :content, :placeholder => "url" %>
	<%= f.text_field :tag, :placeholder => "#tag1 #tag2" %>
	<%= f.submit "add link" %>
	<%end%>
</div>